# Ignore Terraform state files and backups
*.tfstate
*.tfstate.backup

# Ignore Terraform lock file
.terraform.lock.hcl

# Ignore Terraform cache and provider files
.terraform/

# Ignore local environment-specific Terraform files
terraform/environments/dev/.terraform/
terraform/modules/storage/.terraform/

# Ignore AWS Cred
*.pem
*.key

# Ignore system files
.DS_Store
Thumbs.db

